# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# Temporary files
*.tmp
*.temp
*.cache

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Coverage directory
coverage/

# Test output
test-results/

# Miscellaneous
package-lock.json
yarn-error.log
